<div id="<%= dom_id movie %>">
  <h1>Movie Details</h1>
  <p><strong>Code:</strong> <%= movie.code %></p>
  <p><strong>Name:</strong> <%= movie.name %></p>
  <p><strong>Release Date:</strong> <%= movie.release_date %></p>
  <p><strong>Other:</strong> <%= movie.other %></p>
</div>
