<p style="color: green"><%= notice %></p>

<%= render @todo_model %>

<div>
  <%= link_to "Edit this todo model", edit_todo_model_path(@todo_model) %> |
  <%= link_to "Back to todo models", todo_models_path %>

  <%= button_to "Destroy this todo model", @todo_model, method: :delete %>
</div>
